.img {
    margin-top: 1%;
    margin-left: 10%;
    width: 25%;
}


.title {
    margin-left: 0%;
    margin-top: 2%;
}

.container {
    margin-top: 2%;
}

.table {
    margin-top: 50%;
    width: 80%;
    margin: auto;
}

.buttonmain {
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    /* Agrega una línea horizontal debajo de cada fila */
}

.col {
    width: 25%;
    text-align: left;
    border-right: 1px solid #ddd;
    /* Agrega una línea vertical a la derecha de cada columna */
}

.card {
    border-radius: 10px;
}

.col:last-child {
    border-right: none;
    /* Elimina la línea vertical de la última columna */
}

.dashboard-link {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.dashboard-link a {
    color: blue;
    text-decoration: underline;
}

.dashboard-link .arrow {
    color: blue;
    margin-left: 5px;
}

.welcome-user .user-icon {
    margin-left: 5px;
    width: 30px;
}

.welcome-user {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 70%;
}

.welcome-user .title {
    margin-left: -235%;
    margin-top: -10%;
}

.welcome-user span {
    color: black;
}

.username {
    color: orange;
}

.dashboard-link .arrow {
    color: rgb(0, 0, 0);
    margin-left: 5px;
}

.buttonplus {
    margin-top: -7%;
    margin-left: 85%;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    position: relative;
    border-radius: 6px;
    background-color: #D3D3D3;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.buttonplus2 {
    margin-top: 1%;
    margin-left: 85%;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    position: relative;
    border-radius: 6px;
    background-color: #D3D3D3;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.plus {
    background-color: #696969;
    position: absolute;
    border-radius: 1px;
}

.horizontal {
    width: 20px;
    height: 3px;
    top: 18.5px;
    left: 10px;
}

.vertical {
    width: 3px;
    height: 20px;
    top: 10px;
    left: 18.5px;
}