.img {
    margin-top: 1%;
    margin-left: 10%;
    width: 25%;
}

.title {
    margin-left: 0%;
    margin-top: 2%;
}

.container {
    margin-top: 2%;
}


.buttonmain {
    color: black;
}

.dashboard-link {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.dashboard-link a {
    color: blue;
    text-decoration: underline;
}

.dashboard-link .arrow {
    color: blue;
    margin-left: 5px;
}

.welcome-user .user-icon {
    margin-left: 5px;
    width: 30px;
}

.welcome-user {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 70%;
}

.welcome-user .title {
    margin-left: -235%;
    margin-top: -10%;
}

.welcome-user span {
    color: black;
}

.username {
    color: orange;
}

.dashboard-link .arrow {
    width: 50px;
    color: rgb(0, 0, 0);
    margin-left: 5px;
}

.info {
    margin-top: 5%;
    margin-left: 11%;
}

.info .form-label:nth-child(3) {
    margin-top: 20px;
}

.info .form-label:nth-child(5) {
    margin-top: 20px;
}

.description {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.description textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    resize: none;
    border-color: black;
    margin-left: -4%;
}

.description.buttons {
    justify-content: space-between;
}

.description .save {
    margin-left: 28%;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    top: 10px;
}

.description h3 {
    margin-left: -5%;
}

.cancel {
    position: relative;
    top: 100px;
}